.current{
    position: relative;
  
  
  }
  .current::after{
    position: absolute;
    display: block;
    content: "";
    width: 100%;
  height: 4px;
  bottom: 0;
  
  background-color: $accent-color;
  border-radius: 2px;
  
  }
  .current{
    color: $accent-color;
  }