
    $header-color: #212121;
    $text-color: #757575;
    $accent-color: #2196f3;
    $wite-color: #ffffff;
    $black-color: #000000;
    $icon-color: #afb1b8;
    $background-dark: #2f303a;
    $background-origin: #f5f4fa;
    $background-basic: #e5e5e5;
    $time-function: cubic-bezier(0.4, 0, 0.2, 1);
    $time: 250ms;
 