.address {

  
  display: flex;
  flex-direction: column;
    text-align: center;
    
    font-size: 14px;
  line-height: 1.17;
  text-decoration: none;
  color: $wite-color;
  font-family: 'Roboto';
  font-style: normal;
  letter-spacing: 0.03em;


  padding-left: 0;
&__li{
@media screen and (min-widht: $desktop) {
    text-align: left;
  }
}

&__li:not(:last-child) {
  margin-bottom: 10px;

 
}
.address__link{
  font-size: 14px;
  line-height: 1.17;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  letter-spacing: 0.03em;
  font-family: 'Roboto';
  font-style: normal;
  
}
&__contacts {
  font-size: 14px;
  line-height: 1.17;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  letter-spacing: 0.03em;
  font-family: 'Roboto';
  font-style: normal;
  transition: color $time $time-function;
  
  &:hover,
    
  &:focus {
    color: $accent-color;
  }
}
  }
