.footer {
   
    padding-top: 60px;
  padding-bottom: 60px;
  background: $background-dark;
  text-decoration: none;

&__logo-parttwo {
  color: $wite-color;
}
&__logo {
  margin-bottom: 20px;
  
  @media screen and (max-width: $predesktop) {
      text-align: center;
    }
  
 
}
&__list{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;

@media screen and (max-width: $pretablet){
display: flex;
  flex-direction: column;
}
 
 @media screen and (min-width: $tablet) and (max-width: $predesktop) {
  // flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-around;
   
 }
@media screen and (min-width: $predesktop){
justify-content: space-between;
}
  
}
    
  &__li + &__li{
    @media screen and (max-width: $tablet) {
      margin-top: 60px;
    }
    //     @media screen and (min-width: $tablet) {
    // margin-left: 70px; 
// }
  }


&__address {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

}

}
  

