.footer {
   
    padding-top: 60px;
  padding-bottom: 60px;
  background: $background-dark;
  text-decoration: none;

&__logo-parttwo {
  color: $wite-color;
}
&__logo {
  margin-bottom: 20px;
}
&__list{
  display: flex;
 flex-direction: column;
  justify-content: center;

 
 @media screen and (min-width: $tablet) {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
    justify-content: space-between;
 }

  //  @media screen and (min-width: $desktop) {
   
  //     align-items: baseline;
  //     justify-content: space-between;
  
  
  // }

    
  &__li + &__li{
    @media screen and (max-width: $tablet) {
      margin-top: 60px;
    }
        @media screen and (min-width: $tablet) {
    margin-left: 70px; 
}
  }


&__address {
  
  margin-bottom: 10px;
}

}
  
}