
/// header-tablet





  @media screen and (max-width: $pretablet){
    .header {
    height: 60px;
    border-bottom: 1px solid #ececec;
      &__logo {
        padding: 12px 0; 
  // margin-top: 14px;

      }
 }
        .header__nav, .header__contacts{
      display: none;
    }
.header__inner {
  display: flex;
}
// .header-menu{

// }
    }
    
  
     @media screen  and (min-width: $tablet) and (max-width: $predesktop){
      .header__inner{
        gap: 64px;
        
      }
      .header__link{
padding-top: 32px;
  padding-bottom: 32px;
      }
     }

    @media screen and (min-width: $tablet){
    .header {
        border-bottom: 1px solid #ececec;
    
    
        &__inner {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
    
        &__link {
          display: block;
          font-size: 14px;
          font-weight: 500;
          line-height: 1.14;
          letter-spacing: 0.02em;
          text-align: left;
          color: $header-color;
          text-decoration: none;
          
          transition: color $time $time-function;
    
          &:hover,
          &:focus {
            color: $accent-color;
          }
    
        }
    
        &__contacts-link {
          color: $text-color;
          text-decoration: none;
          font-weight: 500;
          font-size: 14px;
          line-height: 1.14;
          letter-spacing: 0.02em;
          padding-top: 5px;
          padding-bottom: 5px;
          display: flex;
          transition: color $time $time-function;
    
          &:hover,
          &:focus {
            color: $accent-color;
          }
    
        }
    
    
    
        &__contacts-link-icon {
          fill: currentColor;
          margin-right: 10px;
        }
    
        &__logo {
  
          display: flex;
          // margin-right: 93px;
    
    
        }
    
        &__nav {
          display: flex;
          align-items: center;
        }
    
        &__nav-link {
          display: flex;
          justify-content: center;
        
    
          & .link+.link {
            margin-left: 50px;
          }
        }
    
        &__contacts {
          display: flex;
          flex-wrap: wrap;
         
        }
    
                // &__contacts .link+.link {
                //   margin-left: 50px;
                // }
    
      }

  }
  @media screen and (min-width: 1200px) {
    .header__contacts-link, .header__link {
padding-top: 32px;
  padding-bottom: 32px;
    }
.header__contacts {
      gap: 15px;
    }
    }
  
