/* Portfolio */
  .portfolio-project{

    
      
            &__list {
                @media screen and (min-width: $tablet) {
                    display: flex;
                    margin: -15px;
                    flex-wrap: wrap;

              @media screen and (min-width: $mobile) {
                width: 450px;
              }
      
              &:not(:last-child) {
                @media screen and (max-width: $pretablet) {
                  margin-bottom: 30px;
                }
              }
      
              @media screen and (min-width: $tablet) {
                display: flex;
                margin: 15px;
                width: calc((100% - 2 * 30px) / 2);
              }
      
              @media screen and (min-width: $desktop) {
                width: calc((100% - 3 * 30px) / 3);
              }
      
            }

             &__li {
      @media screen and (min-width: $mobile) {
          width: 450px;
        }
      
        &:not(:last-child) {
          @media screen and (max-width: $pretablet) {
            margin-bottom: 30px;
          }
        }
      
        @media screen and (min-width: $tablet) {
          display: flex;
          margin: 15px;
          width: calc((100% - 2 * 30px) / 2);
        }
      
        @media screen and (min-width: $desktop) {
          width: calc((100% - 3 * 30px) / 3);
        }
             }

  &__button-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }
  &__button-li + &__button-li {
    margin-left: 8px;
  }
  &__button {
    padding: 6px 22px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    color: $header-color;
    background: $background-origin;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: color $time $time-function,
      background-color $time $time-function,
      box-shadow $time $time-function;
  
 
  
  &:hover,
  &:focus { 
    color: $wite-color;
    background-color: $accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }
  &.active {
    color: $wite-color;
    background: $accent-color;
  } 
}
  
 
  }
  }