.current{

  @media screen and (max-width: $pretablet ) {
    color: $accent-color;
  }
     @media screen and (min-width: $tablet ){
    position: relative;
  color: $accent-color;
  

  &::after{
    position: absolute;
    display: block;
    content: "";
    width: 100%;
  height: 4px;
  bottom: 0;
  
  background-color: $accent-color;
  border-radius: 2px;
  }
 
  
}
}