.logo {
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    text-align: left;
    color: $accent-color;
    text-decoration: none;
  
  &__parttwo {
    color: $black-color;
  }
}