.title {
    
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: $header-color;
  }
  .footer-title{
  
    margin-bottom: 20px;
   font-size: 14px;
   line-height: 16px;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: $wite-color;
  @media screen and (max-width: $desktop) {
    text-align: center;
  }
   
   }